In [ ]:
import pandas as pd
import sklearn

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
# Data looks like 
data=pd.read_csv("data.csv")
data.head()

   Location  Area  Parking space  ...  Garden  Price  Expensive
0         1  1000              1  ...       1    6.5          1
1         2  2000              0  ...       0    3.5          0
2         3  2500              0  ...       0    3.0          0
3         4  1000              1  ...       1    3.5          0
4         5  2000              1  ...       1    8.0          1

[5 rows x 12 columns]

In [ ]:
#Breaking down the data set into two parts
#Features
features=data.iloc[:,:-1]

In [ ]:
print(features.head())

   Location  Area  Parking space  ...  Washrooms  Garden  Price
0         1  1000              1  ...          2       1    6.5
1         2  2000              0  ...          2       0    3.5
2         3  2500              0  ...          2       0    3.0
3         4  1000              1  ...          3       1    3.5
4         5  2000              1  ...          3       1    8.0

[5 rows x 11 columns]

In [ ]:
#target value
target=data.iloc[:,-1]

In [ ]:
print(target.head())

0    1
1    0
2    0
3    0
4    1
Name: Expensive, dtype: int64

In [ ]:
print(len(target))
print(len(features))

18
18

In [ ]:
#Spliting the data set
trainX,testX,trainY,testY=train_test_split(features,target,test_size=0.30,shuffle=False,random_state=4)

In [ ]:
#Verify 
print(len(trainX))#Training features
print(len(trainY))# Training output

12
12

In [ ]:
print(len(testY))# Gold results you have compare with it
print(len(testX))# Feature based which one has to predict

6
6

In [ ]:
# Calling the model object 
model=KNeighborsClassifier(n_neighbors=4)

In [ ]:
#Training begins
model.fit(trainX,trainY)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [ ]:
#testing model
results=model.predict(testX)

In [ ]:
print("This is forcasted results {}".format(results))
print("This is gold results {} \n".format(list(testY)))

This is forcasted results [1 0 1 0 1 0]
This is gold results [0, 1, 1, 0, 1, 0]

In [ ]:
#Evalution
accu_results=accuracy_score(testY,results)

In [ ]:
print(accu_results)
print(accu_results*100)

0.6666666666666666
66.66666666666666